.layout{
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}


.content{
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

@media (max-width: 780px){
  .layout{
    grid-template-columns: 80px 1fr;
  }
}

@media (max-width: 411px){
  form.answer-tweet-form{
    padding: .2rem;
  }
}

@media (max-width: 400px){
  .layout{
    grid-template-columns: 40px 1fr;
  }
}
